<h1>Search For A Movie</h1>

<h3>Using Request</h3>
<form action="/results/" method="GET">
  <input type="text" name="search" placeholder="movie name" />
  <button>Submit</button>
</form>

<h3>Using Request Promise</h3>
<form action="/results-using-promise/" method="GET">
  <input type="text" name="search" placeholder="movie name" />
  <button>Submit</button>
</form>
